/* golden ratio intervals
 * 0x9D 0x61 0x3C 0xD9 of 0x100
 * 62   38   23   85   0f 100 */
body{

font-family:monospace;
font-size:17;
background-color:black; 
color:white;

}
div{
width:40em; /* 64 glyphs */
}
/* HSL color wheel colors 
 * 0 red
 * 30 orange
 * 60 yellow
 * 90 chartreuse
 * 120 green
 * 160 turqoise
 * 180 cyan
 * 210 saphire
 * 240 blue
 * 270 purple
 * 300 magenta
 * 330 pink 
 */
/* synesthesia glyphs */
.iy{ color:hsl(60,0%,62%);/*black*/ }
.oy{ color:hsl(180,0%,91%);/*white*/}
.gs{ color:hsl(90,0%,85%);/*light gray*/ }

.ay{ color:hsl(000,85%,62%);/*red*/ }
.cy{ color:hsl(015,62%,62%);/*scarley*/ }
.wy{ color:hsl(030,62%,62%);/*orange*/ }
.sy{ color:hsl(045,62%,62%);/*amber*/ }
.yy{ color:hsl(060,62%,62%);/*yellow*/ }
.ey{ color:hsl(075,85%,62%);/*lime*/}
.ly{ color:hsl(090,62%,62%);/*chartr*/ }
.dy{ color:hsl(105,62%,62%);/* . harlequin*/}
.ky{ color:hsl(120,62%,62%);/*green*/ }
.gy{ color:hsl(135,62%,62%);/*libre*/ }
.ty{ color:hsl(150,62%,62%);/*light spring*/ }
.qy{ color:hsl(165,62%,62%);/*medium spring*/ }
.uy{ color:hsl(180,85%,62%);/*cyan*/ }
.by{ color:hsl(195,62%,62%);/*sky*/ }
.vy{ color:hsl(210,62%,62%);/*dodger*/ }
.hy{ color:hsl(225,62%,62%);/*han*/ }
.py{ color:hsl(240,62%,62%);/*blue*/ }
.zy{ color:hsl(255,62%,62%);/*han*/}
.ny{ color:hsl(270,62%,62%);/*indigo*/ }
.xy{ color:hsl(285,62%,62%);/*purple*/ }
.my{ color:hsl(300,62%,62%);/*magenta*/ }
.jy{ color:hsl(315,62%,62%);/*hmagenta*/}
.fy{ color:hsl(330,62%,62%);/*pink*/ }
.ry{ color:hsl(345,62%,62%);/*torch*/ }

.Iy{ color:hsl(60,0%,62%);/*black*/ }
.Oy{ color:hsl(180,0%,91%);/*white*/}

.Ay{ color:hsl(000,85%,62%);/*red*/ }
.Cy{ color:hsl(015,62%,62%);/*scarley*/ }
.Wy{ color:hsl(030,62%,62%);/*orange*/ }
.Sy{ color:hsl(045,62%,62%);/*amber*/ }
.Yy{ color:hsl(060,62%,62%);/*yellow*/ }
.Ey{ color:hsl(075,85%,62%);/*lime*/}
.Ly{ color:hsl(090,62%,62%);/*chartr*/ }
.Dy{ color:hsl(105,62%,62%);/* . harlequin*/}
.Ky{ color:hsl(120,62%,62%);/*green*/ }
.Gy{ color:hsl(135,62%,62%);/*libre*/ }
.Ty{ color:hsl(150,62%,62%);/*light spring*/ }
.Qy{ color:hsl(165,62%,62%);/*medium spring*/ }
.Uy{ color:hsl(180,85%,62%);/*cyan*/ }
.By{ color:hsl(195,62%,62%);/*sky*/ }
.Vy{ color:hsl(210,62%,62%);/*dodger*/ }
.Hy{ color:hsl(225,62%,62%);/*han*/ }
.Py{ color:hsl(240,62%,62%);/*blue*/ }
.Zy{ color:hsl(255,62%,62%);/*han*/}
.Ny{ color:hsl(270,62%,62%);/*indigo*/ }
.Xy{ color:hsl(285,62%,62%);/*purple*/ }
.My{ color:hsl(300,62%,62%);/*magenta*/ }
.Jy{ color:hsl(315,62%,62%);/*hmagenta*/}
.Fy{ color:hsl(330,62%,62%);/*pink*/ }
.Ry{ color:hsl(345,62%,62%);/*torch*/ }
/* syntax highlighting */
/* sentence header*/
.sh{ background-color:hsl(270,0%,9%);/*dark gray*/ 
border-radius: 0.23em; overflow:hidden; }
/* phrase case header*/
.ch{ background-color:hsl(270,0%,23%);/*bright gray*/
border-radius: 0.23em; overflow:hidden; }
/* type header*/
.th{ background-color:hsl(0,61%,14%);/*red*/ 
border-radius: 0.23em; overflow:hidden; }
/* clause header*/
.lh{ background-color:hsl(240,61%,14%);/*blue*/ 
border-radius: 0.23em; overflow:hidden; }
/* mood header*/
.mh{ background-color:hsl(300,61%,14%);/*magenta*/ 
border-radius: 0.23em; overflow:hidden; }
/* genitive header*/
.gh{ background-color:hsl(120,61%,14%);/*green*/ 
border-radius: 0.23em; overflow:hidden; }
/* junction header*/
.jh{ background-color:hsl(60,61%,14%);/*yellow*/ 
border-radius: 0.23em; overflow:hidden; }


/* language specific */
.ara{ direction: rtl; text-align: right; }
